<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/get_in.css">
</head>
<body>
<div id="header">
    <div id="headLeft">
        <ul>
            <li class="headItems" id="headLeftItem1"><a href="#">运动</a></li>
            <li class="headItems"><a href="#">战队</a></li>
            <li class="headItems"><a href="#">比赛</a></li>
            <li class="headItems"><a href="#">直播</a></li>
            <li class="headItems"><a href="#">ENG</a></li>
        </ul>
    </div>
    <div id="headmid">
        <h1><a>赛事系统</a></h1>
    </div>
    <div id="headright">
        <ul>
            <li class="headItems"><a href="#">登录</a></li>
            <li class="headItems" style="color: gold"><a href="#">注册</a></li>
            <li>
                <div id="headerSearchBox">
                    <img src="imgsrc/searchIcon.png">
                    <input type="text" placeholder="搜索">
                </div>
            </li>
        </ul>
    </div>
</div>
</body>
</html>