#sportNameDisplay {
    float: left;
    margin-top:80px;
    margin-left: 50px;
}
#nameBanner a {
    overflow: hidden;
    zoom: 1;
}
#createGameButtonHolyShit {
    float: right;
    margin-top:80px;
    margin-right: 50px;
    width: 200px;
    line-height: 60px;
    text-align: center;
    background: #FDC830;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 10px;
    font-size: 20px;
}
#gameSelectorContainer {
    overflow: hidden;
    zoom: 1;
}
#gameSelectorContainer h1 {
    float: left;
    margin-right: 20px;
    color: #876A11;
}
.active {
    color: gold !important;
}
#mainContent+div  {
    float: left;
}
#mainContent {
    overflow: hidden;
    zoom: 1;
}
#mainContent>div{
    float: left;
}
#gameInfo {
    margin-right: 20px;
}
.gameInfoDisplay {
    overflow: hidden;
    zoom: 1;
    height:55px;
    background-color: #323232;
    border-radius: 10px;
    margin: 15px 0;
    color: white;
}
.gameInfoDisplayTitle {
    float: left;
    margin-top: 15px;
    margin-left: 10px;
}
.gameInfoDisplayElement {
    float: right;
    margin-right: 15px;
    margin-top: 15px;
}
#squadInfoContainer {
    background-color: #323232;
    border-radius: 10px;
    margin-top:10px;
}
.indSquad {
    overflow: hidden;
    zoom: 1;
}
.indSquad>* {
    float: left;
}