#sportNameDisplay {
    float: left;
    margin-top:80px;
    margin-left: 50px;
}

#gameSelectorContainer {
    overflow: hidden;
    zoom: 1;
}
#gameSelectorContainer h1 {
    float: left;
    margin-right: 20px;
    color: #876A11;
}
.active {
    color: gold !important;
}
#mainContent+div  {
    float: left;
}
#mainContent {
    overflow: hidden;
    zoom: 1;
}
#mainContent>div{
    float: left;
}
#gameInfo {
    margin-right: 20px;
}
.gameInfoDisplay {
    overflow: hidden;
    zoom: 1;
    height:55px;
    background-color: #323232;
    border-radius: 10px;
    margin: 15px 0;
    color: white;
}
.gameInfoDisplayTitle {
    float: left;
    margin-top: 15px;
    margin-left: 10px;
}
.gameInfoDisplayElement {
    float: right;
    margin-right: 15px;
    margin-top: 15px;
}
#squadInfoContainer {
    background-color: #323232;
    border-radius: 10px;
    margin-top:10px;
}
.indSquad {
    overflow: hidden;
    zoom: 1;
}
.indSquad>* {
    float: left;
}